body{
    padding: 0;
    margin: 0;
}

#container-main{
    width: 1080px;
    height: auto;
    background-color: #FFFFFF;
    overflow: hidden;

    /* BORDE DELIMITADOR TEMPORAL, para poder verlo*/
    border-style: solid;
    border-color: red;
}